<% if @party.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>
    <ul>
      <% @party.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="newPartyContainer">
<%= form_with(model: @party) do |f| %>
  <%= f.label :name, "Party Name" %><br>
  <%= f.text_field :name %><br>

  <%= f.label :party_goers, "Party-Goers" %><br>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :screen_name %><br>
  <br>

  <%= f.submit %>
<% end %>
</div>