<% if current_user.parties.count != 0 %>
  <% current_user.parties.each do |party| %>
    <div class="simpleWindow">
      <%= link_to party.name, party %><br>
      <h3>Party Goers:</h3>
      <% party.users.each do |user| %>
        <%= user.screen_name %><br>
      <% end %><br>
      <div class="flex-container">
        <%= link_to "Edit Party", edit_party_path(party), class:"orange button" %>
        <%= button_to "Delete Party", party, method: :delete, data: { confirm: "Are you sure?" }, class:"red button" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="simpleWindow">
    <h4>You have no parties! Let's start one!</h4>
    <div class="flex-container">
      <%= link_to "New Party", new_party_path, class:"blue button" %>
    </div>
  </div>
<% end %>