<div class="simpleWindow">
  <h2>🎉 <%= @party.name %> 🎉</h1>
</div>

<% if @party.messages.count > 0 %>
  <% @party.messages.each do |message| %>
    <div class="simpleWindow">
      <%= ago(message) %><br>
      <%= User.find_by_id(message.sender).full_name %><br><br>
      <div class="status-bubble">
        <%= message.content %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="simpleWindow">
  <%= render partial: "messages/form", party:@party %>
</div>