<div>
  <h1><%= @party.name %></h1>
</div>
<div>
  <h3>Messages</h3>
  <% @party.messages.each do |message| %>
    <div>
      <b><%= link_to message.user.screen_name, message_path(message) %></b><br>
      <%= message.created_at %><br>
      <b><%= message.content %></b><br>
      <% if message.replies %>
        <% message.replies.each do |reply| %>
          <div>
            <%= link_to reply.user.screen_name, reply_path(reply) %><br>
            <%= reply.created_at %><br>
            <b><%= reply.content %></b><br>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= form_for Message.new do |f| %>
  <%= f.label :content, "Message Content"%><br>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :party_id, @party.id %>
  <%= f.submit %>
<% end %>
<div>
  <h3>Party-goers</h3>
  <% if @party.users.count > 0 %>
    <% @party.users.each do |user| %>
      <div>
        <%= link_to user.screen_name, user_path(user) %><br>
      </div>
    <% end %>
  <% else %>
    <h4>There are no party goers yet!</h4>
  <% end %>
</div>
<div>
  <%= link_to "Edit Party List", edit_party_path(@party) %><br>
  <%= button_to "Delete Party", party_path(@party), method: :delete, data: { confirm: "Are you sure?" } %><br>
</div>