<div>
  <h1><%= @party.name %></h1>
</div>
<div>
  <%= @party.messages.each do |message| %>
    <div>
      <b><%= link_to message.user.full_name, message_path(message) %></b><br>
      <%= message.content %>
    </div>
  <% end %>
</div>
<div>
  <h3>Party-goers</h3>
  <%= @party.users.each do |user| %>
    <div>
      <%= user.full_name %><br>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "Edit Party", edit_party_path(@party) %><br>
  <%= button_to "Delete Party", party_path(@party), method: :delete, data: { confirm: "Are you sure?" } %><br>
</div>