<% if flash.any? %>
  <div class="errorWindow">
    <% flash.each do |type, msg| %>
      <%= type.upcase %>!<br>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<div class="simpleWindow">
  <h1>Log In</h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email, "📧 Email:" %><br>
    <%= f.text_field :email %><br>

    <%= f.label :password, "🔑 Password:" %><br>
    <%= f.password_field :password %><br><br>

    <div class="flex-container">
      <%= f.submit "Log In", class:"blue button" %>
      <%= link_to "Home", root_url, class:"orange button" %>
      </div>
  <% end %>
</div>