<div class="mainWindow">
  <h1>Log In</h1>
</div>

<div class="mainWindow">
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email, "📧 Email:" %><br>
    <%= f.text_field :email %><br>

    <%= f.label :password, "🔑 Password:" %><br>
    <%= f.password_field :password %><br>

    <%= f.submit "Log In", class:"blueButton" %>
  <% end %>
</div>