<% if @statuses.count != 0 %>
  <% @statuses.each do |status| %>
    <div class="simpleWindow">
      <%= status.user.screen_name %><br>
      <%= status.content %><br>
      <i><%= status.hours_ago %></i><br><br>
      <div class="flex-container">
        <%= link_to 'Edit Status', edit_user_status_path(@user, status), class:"orange button" %><br>
        <%= button_to 'Delete Status', [@user,status], method: :delete, data: { confirm: "Are you sure?" }, class:"red button" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="simpleWindow">
  <h1>You have no statuses!</h1>
  <%= link_to "New Status", new_user_status_path(@user), class:"green button" %>
  </div>
<% end %>