<div>
  <h1><%= @task.title %></h1>
  <h2><%= @task.description %></h2>
<div>
<div>
  <%= link_to "All Tasks", tasks_path %><br>
<div>
<div>
  <%= link_to "Edit Task", edit_task_path %><br>
  <%= button_to "Delete Task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %><br>
</div>