<div class="simple-container">

  <div class="banner">
    PartyLine
  </div>

  <nav>
    <%= link_to "Logout", logout_path, method: :delete %>
    <%= link_to "New Status", new_user_status_path(@user), class:"blueButton" %>
  </nav>

  <div class="full-window">
    <div>
      <h1><%= @user.screen_name %></h1>
    </div>
    <div class="status-bubble">
      <%= @user.statuses.last.content %>
    </div>
    <div>
      <%= @user.statuses.last.hours_ago %>
    </div>
    <div>
      <h3><%= @user.screen_name %>'s Parties</h3>
      <% if @user.parties.count != 0 %>
        <% @user.parties.each do |party| %>
          <%= link_to party.name, party %><br>
        <% end %>
      <% else %>
        <h4>You have no parties. Let's start one!</h4>
      <% end %>
      <%= link_to "New Party", new_party_path, class:"blueButton" %><br>
    </div>
  </div>

  <footer>
  </footer>
</div>

<div>
  <%= link_to "Edit User", edit_user_path(@user) %><br>
  <%= button_to "Delete User", @user, method: :delete, data: { confirm: "Are you sure?" } %><br>
  
</div>