<div>
  <h1><%= @user.full_name %></h1>
</div>
<div>
  <h3>Current Status:</h3>
  <%= @user.statuses.last.content %>
</div>
<div>
  <h3><%= @user.first_name %>'s Parties</h3>
  <% @user.parties.each do |party| %>
    <%= link_to party.name, party_path(party) %><br>
  <% end %>
</div>
<div>
  <%= link_to "New Party", new_party_path %><br>
  <%= link_to "New Message", new_message_path %><br>
</div>
<div>
  <%= link_to "All Users", users_path %><br>
</div>
<div>
  <%= link_to "Edit User", edit_user_path(@user) %><br>
  <%= button_to "Delete User", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %><br>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
<div>