<div class="simpleWindow">
  <h1><%= @user.screen_name %></h1>
  <% if !@user.statuses.empty? %>
    <div class="status-bubble">
      <%= @user.statuses.last.content %>
    </div>
    <%= @user.statuses.last.hours_ago %><br><br>
  <% end %>
  <%= render partial: "statuses/form", user:@user %>
</div>

<div class="simpleWindow">
  <h3>Today's Messages:</h3>
</div>

<div class="simpleWindow">
  <div class="flex-container">
    <%= link_to "Edit User", edit_user_path(@user), class:"orange button" %>
    <%= button_to "Delete User", @user, method: :delete, data: { confirm: "Are you sure?" }, class:"red button" %>
  </div>
</div>